/ App Container
.min-h-screen.bg-gray-50.py-8
  .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
    / Main Content
    .flex.flex-col.md:flex-row.gap-6
      / Tasks List
      .flex-1
        .bg-white.rounded-lg.border.border-gray-200.shadow-sm
          / Header
          .border-b.border-gray-200
            .px-6.py-4
              .flex.items-center.justify-between
                .flex.items-center.space-x-4
                  / View Toggle
                  .flex.rounded-lg.shadow-sm
                    = link_to tasks_path,
                      class: "relative inline-flex items-center px-4 py-2 rounded-l-lg border #{current_page?(tasks_path) ? 'bg-purple-50 border-purple-200 text-purple-600 z-10' : 'bg-white border-gray-200 text-gray-500 hover:text-purple-600'}" do
                      %svg.h-5.w-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                        %path{"clip-rule" => "evenodd", :d => "M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z", "fill-rule" => "evenodd"}
                      %span.ml-2 List
                    = link_to calendar_tasks_path,
                      class: "relative -ml-px inline-flex items-center px-4 py-2 rounded-r-lg border #{current_page?(calendar_tasks_path) ? 'bg-purple-50 border-purple-200 text-purple-600 z-10' : 'bg-white border-gray-200 text-gray-500 hover:text-purple-600'}" do
                      %svg.h-5.w-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                        %path{"clip-rule" => "evenodd", :d => "M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z", "fill-rule" => "evenodd"}
                      %span.ml-2 Calendar
                / New Task Button
                %div
                  = link_to new_task_path, class: "inline-flex items-center gap-x-2 rounded-md bg-purple-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2" do
                    %svg.h-5.w-5{:class => "-ml-0.5", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                      %path{"clip-rule" => "evenodd", :d => "M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z", "fill-rule" => "evenodd"}
                    %span.sm:hidden New
                    %span.hidden.sm:inline New Task
          / Content
          .p-6
            - if current_page?(calendar_tasks_path)
              = render "tasks/calendar", tasks: @tasks, start_date: @start_date
            - else
              = render "tasks/filters"
              = render "tasks/list", tasks: @tasks
              = paginate @tasks

      / Sidebar
      .w-full.md:w-96.space-y-6
        / Upcoming Tasks
        = render "tasks/calendar_widget", tasks: @tasks
        / Team Members Widget
        .bg-white.rounded-lg.border.border-gray-200.shadow-sm.p-6
          .flex.items-center.gap-2.mb-4
            %svg.h-5.w-5.text-purple-600{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"}
            %h2.text-lg.font-semibold.text-gray-900 Team Members
          = render "shared/team_members"
