!!! 5
%html{class: "h-full bg-gray-50"}
  %head
    %title TaskManager
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = action_cable_meta_tag

  %body{class: "h-full"}
    .min-h-full
      / Top Navigation
      %nav{class: "bg-white border-b border-gray-200"}
        .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
          .flex.justify-between.h-16
            .flex.items-center
              %span.ml-2.text-xl.font-bold.text-purple-600 TaskManager

            .flex.items-center.gap-6
              - if user_signed_in?
                .flex.items-center.gap-2
                  .h-8.w-8.rounded-full.bg-purple-100.flex.items-center.justify-center
                    %span.text-sm.font-medium.text-purple-600= current_user.email[0].upcase
                  .flex.flex-col
                    %span.text-sm.font-medium.text-gray-700= current_user.email.split('@').first
                    %span.text-xs.text-gray-500= current_user.email
                = link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-sm text-gray-500 hover:text-gray-700"
              - else
                = link_to "Sign in", new_user_session_path, class: "text-sm text-gray-500 hover:text-gray-700"

      %main{class: "bg-gray-50"}
        - if notice
          .max-w-sm.mx-auto.px-4.sm:px-6.lg:px-8
            %div{ data: { controller: "toast", toast_target: "toast" }, class: "bg-purple-700 text-white p-4 rounded-lg my-2" }
              %span= notice

        %div#flash
          = render "shared/flash"
        = yield
